@import '~@fluentui/react/dist/sass/References.scss';

.searchColleagues {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.documentCard{
  display: 'inline-block';
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 263px;
  min-width: 200px;
}
.welcome {
  text-align: center;
}
.searchBox {
  height: 50px;
  border: solid rgb(32, 143, 227);
}
.searchBox:hover {
  height: 50px;
  border: solid rgb(32, 143, 227);
}
.searchBoxActive {
  height: 50px;
  border: solid rgb(0, 120, 212);
}
.searchBoxActive:hover {
  height: 50px;
  border: solid rgb(0, 120, 212);
}
.optionMenu {
  display: flex;
  column-gap: 10px;
  padding-bottom: 45px;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
@media only screen and (max-width: 1280) {
  .searchColleagues {
    width: auto;
    padding: 1px 20px 0px 20px;
  }
  .optionMenu {
    display: flex;
    column-gap: 10px;
    width: auto;
    padding: 1px 20px 0px 20px;
  }
 
}
